*{margin:0;padding:0;outline: 0;}
body{}
.templete{width:1200px;margin:0 auto;}
.clear{overflow: hidden}
.headersection{
	background: #F5F7F6;
	height:50px;
}
.course-item{
	float:left;
	width: 850px;
	margin-left: 50px;
	margin-top:15px;
	
}
.course{
	background: #49C5B6 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 2px;
    border: 0;
}
.course-item h2{
	font-size: 23px;
	text-align: center;
	margin-top: -26px;
	margin-right: -219px;
}

.login{
	float:right;
	width:163px;
	font-size:10px;
}
.login h2{
	margin-top: 18px;
    text-transform: uppercase;
    font-size: 10px;
}

.contain{
	height:380px;
	background: #49C5B6;
}
.containleft{
	width: 350px;
    float: left;
    margin-left: 50px;
    margin-top: 98px;
    padding: 5px;
}

.containleft h2{
    color: #fff;
    font-size: 37px;
    margin-bottom: 8px;
}

.containleft p{
	color: #fff;
    font-size: 17px;
    margin-bottom: 10px;	
}

button{
	background: #0C0353;
    padding: 10px 20px 10px 20px;
    color: #fff;
    border: 0px;
    font-size: 9px;
}
.containright{
	float:right;
	width:600px;
}
.containright img{
	width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 100px;
}
.service{
	height:380px;
	background: #F5F7F6;
}
.serviceitem{
	margin:50px;
}
.topservice h2{
	text-align: center;
    color: #000;
    font-size: 25px;
}
.serviecbotton{
	margin-top: 56px;
}
.bottonservice{
    width: 255px;
    float: left;
    padding: 10px;
} 
.bottonservice img{
	margin-left: 72px;
    margin-bottom: 7px;
    background: #ddd;
    padding: 5px;
    border-radius: 43px;
    height: 71px;
    width: 70px;
}

.bottonservice h2{
	font-size: 21px;
    margin-bottom: 5px;
    text-align:center;
}
.bottonservice p{
	font-size: 15px;
    text-align: justify;
    
}

.resultCount{
	background: #0C0353;
	height: 130px;
}

.resultTheme{
	margin: 50px;
}
.result{
	width: 275px;
    float: left;
}
.result img{
    float: left;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    background: #4B40A1;
    padding: 3px;
    border-radius: 30px;
    margin-top: -9px;
}
.result h2{
	font-size: 15px;
    color: #fff;
    margin-top: 8px;
}
.result p{
	color: #ddd;
    font-size: 12px;
    margin-top: 5px;
}

.work{
	background: #FAFBFB;

}
.workTheme{
	margin:50px;
}
.workheader h2{
	text-align: center;
    color: #000;
    font-size: 30px;
    margin-bottom: 25px;
}
.workItems{
	    margin-bottom: 77px;
}
.workItemsleft{
	float: left;
    width: 500px;
    text-align: right;
}
.workleftTop{

}
.workleftTop h2{
	color: #000;
    font-size: 30px;
    margin-bottom: 10px;
}
.workleftTop p{
	 padding-left: 106px;
    font-size: 14px;
}
.workItemsRight{
	
    
}
.workItemsRight img{
	margin-left: 50px;
    height: 100px;
    width: 102px;
}

.workLeftImg img{
	margin-left: 50px;
    height: 100px;
    width: 102px;
}



/*Baticrom*/

.maddile{
	padding-bottom: 155px;
}
.maddileTop{
	float: left;
    width: 600px;
}
.maddileTop img{
	height: 100px;
    width: 102px;
    margin-left: 470px;
}
.MaddileBottom{

}
.maddileBottonTop{
	float: right;
    width: 452px;
} 

.maddileBottonTop h2{
	color: #000;
    font-size: 30px;
    margin-bottom: 10px;
}
.maddileBottonTop p{
	padding-right: 106px;
    font-size: 14px;
}


.button1{
	background: #49C5B6;
    padding: 10px 100px 10px 101px;
    font-size: 10px;
    margin-left: 400px;
}


.student{
	background: #F5F7F6;
}
.studentTheme{
	margin:50px;
}
.studentTop h2{
	text-align: center;
    font-size: 40px;
    color: #000;
    margin-bottom: 30px;
    padding-top: 35px;
}
}
.studentBottom{

}
.studentItems{
	float: left;
    width: 343px;
    padding: 10px;
    margin-bottom: 66px;
}
.studentItems img{
	background: #ddd;
    border-radius: 63px;
    padding: 5px;
    margin-bottom: -30px;
    margin-left: 233px;
    height: 100px;
    width: 100px;
}
.studentContent{
	background: #fff;
    padding: 40px;
}
.studentContent p{
	font-size: 15px;
    color: #000;
    margin-bottom: 7px;
    text-align: justify;
}
.studentContent h3{
	text-transform: uppercase;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 5px;
}
.studentContent h4{
	font-size: 12px;
    color: #000;
}


.partner{

}
.partnerTheme{
	margin:50px;
}
.partnerTop{
	text-align: center;
    margin-bottom: 70px;
    padding-top: 25px;
}
.partnerTop h2{
	font-size: 30px;
    margin-bottom: 15px;
    color: #000;
}
.partnerTop p{
	padding: 0px 180px 0px 170px;
}
.partnerBottom{

}
.partnerBottom img{
	margin-left: 80px;
    height: 50px;
    width: 100px;
}



.joinPart{
	background: #49C5B6;
}
.joinTheme{
	margin:50px;
}
.profileImage{
	float: left;
    width: 425px;
}
.profileImage img{
	height: 390px;
    width: 350px;
}

.registration{

}
.registration h2{
	    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}
.registration h5{
	color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
}
.registration p{
	color: #fff;
    padding-bottom: 10px;
}
input[type="text"]{
	text-align: center;
    border: 0px;
    padding: 15px;
    border-radius: 6px;
    background: #6DD0C4;
    color: #fff !important;
    margin-bottom: 15px;
    margin-right: 30px;
}

.button3{
	background: #0C0353;
    padding: 20px 70px 20px 60px;
    font-size: 11px;
    margin-top: 25px;
}

.study{
	background: #F5F7F6;
}
.studyTheme{
	margin:50px;
}
.studyTop{
	text-align: center;
    padding-top: 20px;
}
.studyTop h2{
	font-size: 30px;
    margin-bottom: 10px;
    color: #000;
}
.studyTop p{
	width: 380px;
    text-align: center;
    margin-left: 347px;
}
.playstoreLogo{
	margin-top: 20px;
    margin-left: 450px;
}
.playstoreLogo img{
	margin-right: 51px;
    height: 50px;
    width: 150px;
    margin-left: -33px;
}


.footer{
	 background:#040121;
	 height: 125px; 
	 
}
.topfooter{
	border-bottom:1px solid #ddd;
	margin-left: 50px;
	margin-right:50px; 	

}
.footerMenu{
	float:left;
	width: 550px;

	

}
.footerMenu ul{
	margin:0;
	padding:0;
	list-style: none;
	margin-top: 25px;

}
.footerMenu ul li{
	display:block;
	float:left;
}
.footerMenu ul li a{
  	color: #fff;
  	display: block;
  	font-size: 10px;
  	margin: 5px;
  	padding: 5px;
  	text-decoration: none;
}
.social{
	float:right;
	width:41px;
	font-size:10px;

}

.social h2{
	    margin-top: 36px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
}
.footer p{
	color: #fff;
    margin-left: 50px;
    font-size: 10px;
    margin-top: 23px;

}
